 table{
border-radius: 2%;
box-shadow: 0px 6px 12px #000;
margin-left: 40%;
 }

 tr{
border-radius: 7%;
 }
 td{
    width: 60px;
border-radius: 7%;
    font-family: 'Courier New', Courier, monospace
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
 }
 input[type="button"] 
 { 
 height: 50px;
 background-color:#865c3adc;
 color: white;
 font-weight: bold;
 font-size: 22px;
 width:100% 
 } 
 .title{ 
 margin-bottom: 10px;
 height: 70px; 
 text-align:center; 
border-radius: 2%;
 background-color:#361508; 
 width: 210px; 
 color:rgb(0, 0, 0); 
 } 
 input[type="text"] 
 { 
 font-size: 22px;
border-radius: 7%;
 background-color:white; 
 height: 50px;
 width:100% 
 }
 input[type="button"].ekor{
 background: color #361508;; 
 }
 input[type="button"].kode{
 background: color #865c3a;; 
 }