input[type="text"], 
input[type="email"], 
textarea { 
    padding: 8px; 
    width: 95%; 
    background: #efefef; 
    border: 0; 
    font-size: 10pt;
    margin: 6px 0px; 
}

.tombol { 
    background: #3498db; 
    color: #fff; 
    border:0;
    padding: 5px 8px;
}
.reset { 
    background: rgb(126, 15, 98); 
    color: #fff; 
    border:0;
    padding: 5px 8px;
}

h2 {
    color: #fff;
} 

.login { 
    padding: 1em; 
    margin: 2em auto; 
    width: 17em; 
    background: #fff;
    border-radius: 3px; 
}  
label {
    font-size: 10pt; 
    color: #555; 
}
select {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 95%; 
    }    
.warning {color: #FF0000;}

